body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.main__head {
  position: relative;
}

section {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  z-index: 100;
}

section h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

section .sec-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

section .sec-description {
  margin-bottom: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}

section .sec-description::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 2px;
}

section .sec-content .person {
  text-align: center;
}

section .sec-content .brief {
  margin-bottom: 60px;
}

section .sec-content .brief p {
  text-align: right;
}

section .sec-content .col-title {
  margin-bottom: 40px;
}

section .sec-content .name {
  font-size: 22px;
  text-transform: uppercase;
  text-align: left;
}

section .sec-content .photo {
  width: 240px;
  height: 240px;
  margin-bottom: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
  -webkit-box-shadow: #888 0 0 40px;
          box-shadow: #888 0 0 40px;
}

section .sec-content p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

section .sec-content li {
  margin-bottom: 10px;
}

.main__head {
  min-height: 620px;
  padding-top: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0 0 #ffffff;
  z-index: 9999;
}

.loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.logo {
  float: left;
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 400;
}

.logo svg {
  height: 60px;
  width: 60px;
  position: relative;
}

.menu {
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 200;
  border: none;
}

.menu span {
  display: block;
}

.sandwich {
  width: 40px;
  height: 40px;
  margin: auto;
}

.sw-topper {
  position: relative;
  width: 40px;
  height: 4px;
  top: 4px;
  background: #fff;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
}

.sw-bottom {
  position: relative;
  width: 40px;
  height: 4px;
  top: 15px;
  background: #fff;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.sw-footer {
  position: relative;
  width: 40px;
  height: 4px;
  background: #fff;
  top: 26px;
  background: #fff;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sandwich.active {
  margin: 10px auto;
}

.sandwich.active .sw-topper {
  top: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sandwich.active .sw-bottom {
  top: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 150;
  display: none;
}

.menu__top ul {
  padding: 0;
  margin: 0;
  margin-top: 120px;
  list-style-type: none;
  text-align: center;
}

.menu__top ul a {
  padding: 20px 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 50em;
  z-index: 100;
}

.top-wrapper .top-description {
  display: table-row;
}

.top-wrapper .top-description .top-centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.top-wrapper .top-description .top-centered .top-title {
  display: inline-block;
}

.top-wrapper .top-description .top-centered .top-title h1 {
  display: inline-block;
  padding: 20px 30px;
  font-size: 2.5rem;
  border: 6px solid #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10em 10em;
          box-shadow: rgba(0, 0, 0, 0.25) 0 0 10em 10em;
}

.top-wrapper .top-description .top-centered .top-title p {
  margin: 0;
  font-size: 1.3rem;
}

.personal .sec-content h3 {
  font-size: 1.4rem;
}

.personal .sec-content .icon {
  margin: 0 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.personal .sec-content .left {
  text-align: right;
}

.personal .sec-content .left h3 {
  text-align: right;
}

.personal .sec-content .left .profession {
  margin-left: 1rem;
}

.personal .sec-content .right {
  text-align: left;
}

.personal .sec-content .right h3 {
  text-align: left;
}

.personal .sec-content .right .profession {
  margin-right: 1rem;
}

.personal .sec-content .item-wrapper .date {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin: 20px 0 10px;
  font-size: 1rem;
}

.personal .sec-content .item-wrapper .description {
  margin: 1rem 0;
}

.personal .sec-content .item-wrapper .description .profession {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.socials {
  margin-top: 30px;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials i {
  font-size: 24px;
  margin-right: 20px;
}

.footer {
  z-index: 500;
  height: 100px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .socials {
  margin: 0;
}

.portfolio {
  padding-bottom: 4rem;
}

.portfolio ul {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio li {
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  cursor: pointer;
}

.portfolio__item {
  position: relative;
  padding: 0;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__item .portfolio__item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.portfolio__item:hover .portfolio__item-content {
  opacity: 1;
  padding-top: 10%;
  height: 85%;
}

.portfolio__item:hover .portfolio__item-content a {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.portfolio__item:hover .portfolio__item-content p {
  padding: 0 5px !important;
}

.overflow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
}

.overflow .portfolio__description h3 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0;
}

.overflow .portfolio__description .portfolio__description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.overflow .portfolio__description .portfolio__description-wrapper p {
  width: 50%;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  line-height: 150%;
  text-align: right;
}

.overflow .portfolio__description .portfolio__description-wrapper img {
  width: 50%;
}

.parallax {
  min-height: 100vh;
  width: 120%;
  height: 120%;
  position: fixed;
  top: -10px;
  left: -10px;
  overflow: hidden;
  z-index: 1;
}

.parallax .parallax-bg {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
/*# sourceMappingURL=main.css.map */