/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  body {
    width: 100%;
  }

  .logo svg {
    width: 40px;
    height: 40px;
  }
  
  .menu {
    width: 40px;
    height: 40px;
  }
  
  .sandwich {
    width: 30px;
    height: 2px;
  }
  
  .sw-topper {
    width: 30px;
    height: 2px;
    top: -10px;
    border-radius: 2px 2px 2px 2px;
  }
  
  .sw-bottom {
    width: 30px;
    height: 2px;
    top: -1px;
    border-radius: 2px 2px 2px 2px;
  }
  
  .sw-footer {
    width: 30px;
    height: 2px;
    top: 8px;
    border-radius: 2px 2px 2px 2px;
  }
  
  .sandwich.active .sw-topper {
    top: 2px;
  }
  
  .sandwich.active .sw-bottom {
    top: 0;
  }
  
  .sandwich.active .sw-footer {
    top: 2px;
  }
  
  .top-wrapper .top-description .top-centered .top-title h1 {
    font-size: 1.6rem;
  }
  
  .top-wrapper .top-description .top-centered .top-title p {
    font-size: .8rem;
  }

  .title-wrapper h2 {
    font-size: 1.2rem;
  }
  
  .title-wrapper .sec-description {
    font-size: .7rem;
  }

  section .sec-content .brief p {
    text-align: center;
  }

  section .sec-content .name {
    text-align: center;
  }

	.sec-content .row .left {
    border: none
  }

	.sec-content .row {
    margin: auto;
  }

	.sec-content {
		max-width: 90%;
  }

  .socials {
    margin-left: 50%;  
    transform: translateX(-50%);
  }

  section .sec-content li {
    text-align: center;
  }

  .personal .sec-content .left, .personal .sec-content .right {
			text-align: center;
  }

  .personal .sec-content .left h3, .personal .sec-content .right h3 {
			text-align: center;
  }

  .left .description {
    display: flex;
    flex-direction: column-reverse;
  }

  .description {
    display: flex;
    flex-direction: column;
  }

  .personal .sec-content .left .profession,
  .personal .sec-content .right .profession {
    margin-left: 0;
  }

  .footer .container {
    font-size: .6rem;
    margin-left: 6px;
  }
  
  .footer .socials i {
    font-size: .8rem;
    margin-right: 6px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}